<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crud.UI.Properties.Settings.WPF_Connection" connectionString="DESKTOP-BH77SS1\\SQLEXPRESS01; Database = studDB; Trusted_Connection = True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>